{% include 'catalog/menu.html' %}

<h1>{{ door.title }}</h1>

{% load static %}
<img src="{% get_media_prefix %}{{ door.photo }}" align="left">

<table border="1">
	<tr>
		<th width="200">Бренд:</th>
		<td>{{ door.brand.title }}</td>
	</tr>

	<tr>
		<th>Описание:</th>
		<td>{{ door.description }}</td>
	</tr>

	<tr>
		<th>Цена:</th>
		<td>{{ door.price }} руб.</td>
	</tr>

	<tr>
		<th>Цвета:</th>
		<td>{{ colors }}</td>
	</tr>

	<tr>
		<th>Размеры:</th>
		<td>{{ sizes }}</td>
	</tr>
</table>

<br><a href="{% url shop-cart-add door.id %}">Добавить в корзину</a>